/* layout stuff */
body {
  margin: 0;
  padding: 0;
  text-align: center; /* center the playing cards */
}
#score-area {
  padding: 30px;
  background-color: #D6D6D6;
}
#play-area {
  padding: 20px;
  background-color: skyblue;
  margin: auto;
  display: inline-block;
}

/* card stuff */
.card {
  height: 140px;
  width: 70px;
  background-color: gray;
  margin: 4px;
  box-sizing: border-box;
  border: 2px solid #000;
  display: inline-block;
}

.selected-card {
  background-color: #FFF;
  border: 2px solid green;
}
